.item-grid {
  width: 100%;
}

.item-grid li {
  width: 50%;
  float: left;
  position: relative;
  overflow: hidden;
}

.item-grid li img {
  display: block;
}

@media (max-width: 601px) {
  .item-grid li:nth-child(2n+1) {
    clear:left;
  }
}

@media (min-width: 601px) and (max-width: 901px) {
  .item-grid li {
    width: calc(100% / 3);
  }
  .item-grid li:nth-child(3n+1) {
    clear:left;
  }
}

@media (min-width: 901px) and (max-width: 1201px) {
  .item-grid li {
    width: calc(100% / 4);
  }
  .item-grid li:nth-child(4n+1) {
    clear:left;
  }
}

@media (min-width: 1201px) {
  .item-grid li {
    width: calc(100% / 5);
  }
  .item-grid li:nth-child(5n+1) {
    clear:left;
  }
}

.item-grid .item.show {
  border-left: 1px solid;
  padding-top: .5em;
  padding-right: 1em;
  padding-bottom: .25em;
  padding-left: 1em;
  margin-bottom: 2em;
}

.item-grid .item.show * {
  margin:0;
}

.item-grid .item.show * + * {
  margin-top: .5em;
}
