.google-map-container,
#gallerylisting {
  height: 80vh;
}

.google-map-container {
  width: 66%;
  position: relative;
}

#gallerylisting {
  width: 33%;
  overflow-y: scroll;
}

.mapPopup {
  background: white;
  width: 200px;
  z-index: 20;
  text-align: center;
  bottom: 3.5em;
  left:-25px;
  position: absolute;
  box-sizing: border-box;
  padding: .66rem;
  box-shadow: 0 0 .8rem 0 rgba(0,0,0,.25);
}

.mapPopup::before {
  background: white;
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: -.5rem;
  left: 29px;
  z-index: 19;
  content: '';
}

.mapPin svg path {
  fill: yellow;
}
.mapPin:nth-child(1) svg path {
  fill: orange;
}
