.google-map-container {
  height: 80vw;
  width: 66%;
  position: relative;
}

#gallerylisting {
  width: 33%;
  height: 80vw;
  overflow-y: scroll;
}

.mapPopup {
  background: white;
  width: 200px;
  z-index: 20;
  text-align: center;
  padding: .5em;
  /**/
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
