* {
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

.container,
.container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.row::after,
.group::after,
.grouped::after,
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

@media (min-width: 30em) {
  .container {
    width: 80%;
  }
}

@media (min-width: 50em) {
  .container {
    max-width: 1200px;
  }

  .row,
  .group,
  .grouped {
    margin-left: -1rem;
    margin-right: -1rem;
  }

  .column,
  .columns {
    /* this will make things a column */
    float: left;
    padding-left: 1rem; /* make this half of what you want your gutters to be */
    padding-right: 1rem; /* make this half of what you want your gutters to be */
  }

  /* these styles declare column widths */
  .one      { width: calc(100% / 12 * 01); }
  .two      { width: calc(100% / 12 * 02); }
  .three    { width: calc(100% / 12 * 03); }
  .four     { width: calc(100% / 12 * 04); }
  .five     { width: calc(100% / 12 * 05); }
  .six      { width: calc(100% / 12 * 06); }
  .seven    { width: calc(100% / 12 * 07); }
  .eight    { width: calc(100% / 12 * 08); }
  .nine     { width: calc(100% / 12 * 09); }
  .ten      { width: calc(100% / 12 * 10); }
  .eleven   { width: calc(100% / 12 * 11); }
  .twelve   { width: calc(100% / 12 * 12); }

  /* these styles declare column offsets */
  .offset-by-one      { margin-left: calc(100% / 12 * 01); }
  .offset-by-two      { margin-left: calc(100% / 12 * 02); }
  .offset-by-three    { margin-left: calc(100% / 12 * 03); }
  .offset-by-four     { margin-left: calc(100% / 12 * 04); }
  .offset-by-five     { margin-left: calc(100% / 12 * 05); }
  .offset-by-six      { margin-left: calc(100% / 12 * 06); }
  .offset-by-seven    { margin-left: calc(100% / 12 * 07); }
  .offset-by-eight    { margin-left: calc(100% / 12 * 08); }
  .offset-by-nine     { margin-left: calc(100% / 12 * 09); }
  .offset-by-ten      { margin-left: calc(100% / 12 * 10); }
  .offset-by-eleven   { margin-left: calc(100% / 12 * 11); }
  .offset-by-twelve   { margin-left: calc(100% / 12 * 12); }
}

/*** Type. ***/
body {
  font-family: "Balto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  /**/
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}

/***** Modules *****/
.white        { color: white; }
.black        { color: black; }

.bg-white     { background-color: white; }
.bg-black     { background-color: black; }

.hidden { display: none; visibility: hidden; }

.lead {
  font-size: 125%;
  line-height: 1.5;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

ul.inline::after {
  content: '';
  display: table;
  clear: both;
}

ul.inline li {
  display:block;
  float:left;
}

.m0           { margin: 0; }
.m1           { margin: 1rem; }
.m2           { margin: 2rem; }
.m3           { margin: 3rem; }
.m4           { margin: 4rem; }

.mb0          { margin-bottom: 0; }
.mb1          { margin-bottom: 1rem; }
.mb2          { margin-bottom: 2rem; }
.mb3          { margin-bottom: 3rem; }
.mb4          { margin-bottom: 4rem; }

.p0           { padding: 0; }
.p1           { padding: 1rem; }
.p2           { padding: 2rem; }
.p3           { padding: 3rem; }
.p4           { padding: 4rem; }

.text-center {
  text-align: center;
}

.text-left

/***** General Styles for all "stripes" *****/

.mgs .landing-logo,
.mgs #intro,
.mgs #schedule,
.mgs #galleries,
.mgs #students {
  min-height: 50vh;
  padding-top:6.25rem;
  padding-bottom: 6.25rem;
}

/***** Header & Nav *****/
header {
  background: white;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 999999;
}

header h1 {
  height: 4.5rem;
  width: 4.5rem;
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap;
  background: transparent url('../images/16-white.png') center center no-repeat;
  background-size: contain;
  margin: .1rem 0;
}

ul.nav{
    list-style: none;
    text-transform: uppercase;
    padding-top: .6em;
}

ul.nav li{
    display: inline;
    margin-right: 1em;
}

ul.nav li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
ul.nav li a:hover{
    padding-bottom: .35em;
    border-bottom: 2px solid #f37743;
}

li.student-search{
    float: right;
}

div.form-group.search input.form-control{
    border: none;
    background: #f4f3f0;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: -.5em;
    padding: 10px
}
/***** Landing Logo *****/
.landing-logo {
  height: 100vh;
  background: url("../images/mgslogo.png");
  background-position: center;
  background-size: 300px 327px;
  background-repeat: no-repeat;
}
.rotating-text{
  width: 350px;
  position: absolute;
  bottom: 10em;
  right: 12em;
}

@media (max-width: 600px) {
  .rotating-text {
    position: absolute;
    bottom: 10em;
    right: 4em;
  }
}


/***** Intro Section *****/
#intro {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#intro .intro-text,
.creative-blank-video {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.creative-blank-video {
  max-width: 50rem;
  margin-top: 6.25rem;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  margin:0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/** schedule stuff **/
.schedule-filters {
  margin-bottom: 2rem;
}

.schedule-filters li {
  margin-right: 1rem;
}

.schedule-filters li::after {
  content: "/";
  display: inline-block;
  margin-left: 1rem;
}

.schedule-filters li:last-child {
  margin-right: 0;
}
.schedule-filters li:last-child::after {
  content: "";
  display: none;
  margin-left: 0;
}

.schedule-event {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.schedule-event.active {
  background-image: url("../images/event-active.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: center center;
  /**/
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.schedule-text h4 {
  font-size: 1em;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.schedule-text .locations p,
.reception p {
  margin: 0;
}

.schedule-text .locations p,
.reception p {
  font-size: 14px;
}

.schedule-event .reception {
  border-top: 1px solid;
  margin-top: .75rem;
}

.schedule-event .reception p {
  margin-bottom: 0;
  margin-top: 1em;
}

.galleryLocation {
  cursor: pointer;
  display: inline-block;
  margin-right: .5em;
}

.galleryLocation::after {
  content: ', ';
  display: inline-block;
}

.galleryLocation:last-child::after {
  content: '';
  display: none;
}

.galleryLocation:first-child::before {
  content: 'Galleries: ';
  display: inline-block;
  font-weight: bold;
  margin-right: .5em;
}

/***** Gallery *****/
#gallerylisting ul {
    list-style: none;
}

#gallerylisting ul li h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#gallerylisting ul li .building {
    font-size: 14px;
    line-height: 1.3;
}

#gallerylisting ul li .address {
    font-size: 14px;
    line-height: 1.3;
}
/***** Students *****/
#students .filters-students > li button{
    border: none;
    background: none;
    padding:0;
    font-size: 13px;
    padding: 0 0 5px 0;
}

#students .filters-students > li button:hover{
    color: #f37743;
}

.filters-students{
  list-style: none;
  padding-left: .75em;
}

.student .name h4{
  text-transform: uppercase;
  letter-spacing: .5px;
}

.student .name h4 a{
  text-decoration: none;
  color: #000;
}

.student .name h4 a:hover{
  color: #f37743;
}

li.program{
    font-size: 14px;
    line-height: 1.2;
}

li.program button span{
    font-size: 1.2em;
}

.schedule-filters li::after,
.schedule-filters button,
.galleries-filters button,
button.filter{
  border: none;
  background: none;
  color: #bcbec0;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Balto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 400ms;
  outline: none;
}

.schedule-filters button:hover,
.schedule-filters li.active button,
.galleries-filters button:hover,
.galleries-filters li.active button,
button.filter:hover{
  color: #f37743;
}

.schedule-filters button:active,
.galleries-filters button:active,
button.active {
  color: rgba(255,128,169,1);
}

.schedule-filters button:focus,
.galleries-filters button:focus,
button.filter:focus {
  outline:none;
}

/***** Footer *****/
footer {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

div.three.columns.footer-logo img{
    width: 75%;
}

footer .archive h3 {
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
}

footer .archive ul {
  margin: 0;
}
footer .archive ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer .archive ul li a:hover {
    text-decoration: underline;
}
p.credits{
    font-size: 14px;
    color: white;
    margin: 0;
}

p.credits a{
    text-decoration: none;
    color: white;
}

p.credits a:hover{
    text-decoration: underline;
}

div.signup a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

div.signup a:hover{
    text-decoration: underline;
}

div.three.columns.footer-contact ul{
    color: white;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
    margin-top: 1.2em;
}
