/**** OVERLAY.LESS ****/
/**** OVERLAY.LESS ****/
/**** OVERLAY.LESS ****/
/**** OVERLAY.LESS ****/

/****************************/
/** OVERLAY STYLES **/
/****************************/

#student-overlay {
  background: transparent url(../images/background.png) center center no-repeat;
  background-size: cover;
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

#student-overlay .wrapper {
  background: white;
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  padding-top: 2em;
  padding-bottom: 5em;
  overflow-y: scroll;
  overflow-x: hidden;
}

#student-overlay .close {
  background: transparent;
  border: none;
  display: block;
  height: 2rem !important;
  width: 2rem !important;
  /**/
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1111;
  transition: all 400ms;
}

#student-overlay .close:hover {
  color: rgba(242,103,070,1);
}

.contact-info .website img {
  display: none;
}

/*** ********* ***/
/*** SLIDESHOW ***/
/*** ********* ***/

#slideshow .thumbs {
  padding: 0;
  list-style: none;
  text-align: center;
  width: 5000%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
#slideshow .thumbs li {
  opacity: .5;
  transition: all 300ms;
  display: inline-block;
}
#slideshow .thumbs li.active{
  opacity: 1;
}
#slideshow .thumbs li img {
  height: 500px;
  width: auto;
}
/** slideshow strip buttons **/
ul.thumbs-navigation {
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.thumbs-navigation li,
ul.thumbs-navigation li button {
  border: none;
  background: rgba(242,103,070,.5);
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
}

/** slideshow strip indicators **/
ul.thumbs-indicator {
    margin: 0 0 2rem;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.thumbs-indicator li {
    display: inline-block;
    padding: .25rem;
}

/**** / END OVERLAY.LESS ****/
/**** / END OVERLAY.LESS ****/
/**** / END OVERLAY.LESS ****/
/**** / END OVERLAY.LESS ****/
