.student {
  margin-bottom: 2rem;
}

.student .name h4 {
  margin-top: .5em;
  margin-bottom: 0;
}

/* working out some things with the filters */
#students .filters-students,
#students .filters-students > li {
  position: relative;
}

#students .students-filters {
  padding: .5rem;
  /*  text-align: center;*/
}

/*
#students .filters-students > li {
  display: inline-block;
}
*/

#students .filters-students > li button {
  z-index: 11;
}

#students .filters-students > li .student-filters {
  background: white;
  position: absolute;
  z-index: 10;
}

.filters-students .item-count {
  display: none;
}

/** toggle the gray/colored images nicely **/
/** loading a new image on hover was too slow, this loads slower upfront but has better hover performance **/

.student-photo {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.student-photo > img {
  display: block;
  position: absolute;
  transition: all 400ms;
  z-index: 1;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.student-photo > .photo-inactive {
  z-index: 2;
  opacity: 1;
}

.student:hover .student-photo > .photo-inactive {
  opacity: 0;
}

/** control heights for now so that the grid stays a nice grid **/
@media (min-width: 50em) {
  .student {
    height: 280px;
  }
}

@media (min-width: 65em) {
  .student {
    height: 325px;
  }
}
